global
   maxconn 100000
   log /dev/log local0
   log /dev/log local1 notice
   chroot /var/lib/haproxy
   stats socket /run/haproxy.sock mode 660 level admin
   stats timeout 30s
   user haproxy
   group haproxy
   daemon

defaults
   log global
   retries 2
   mode tcp
   option tcplog
   option dontlognull
   timeout queue   60s
   timeout connect 60s
   timeout client  120s
   timeout server  120s
   timeout check   60s

listen stats
    mode http
    bind {{ ansible_host }}:7000
    stats enable
    stats uri /
    stats hide-version
    stats realm Haproxy\ Statistics

listen master
   bind *:6379
   maxconn 50000
   mode tcp
   balance roundrobin
   option tcplog
   option tcp-check
   tcp-check send info\ replication\r\nquit\r\n
   tcp-check expect string role:master
   default-server inter 3s rise 2 fall 3 fastinter 1s downinter 5s on-marked-down shutdown-sessions
   {% for node in hosts_group %}
    server {{ hostvars[node].ansible_hostname }} {{ hostvars[node].ansible_host }}:63791 check
   {% endfor %}

listen replica
   bind *:6389
   maxconn 50000
   mode tcp
   balance roundrobin
   option tcplog
   option tcp-check
   tcp-check send info\ replication\r\nquit\r\n
   tcp-check expect string role:slave
   default-server inter 3s rise 2 fall 3 fastinter 1s downinter 5s on-marked-down shutdown-sessions
   {% for node in hosts_group %}
    server {{ hostvars[node].ansible_hostname }} {{ hostvars[node].ansible_host }}:63791 check
   {% endfor %}
