daemonize yes
port {{ sentinel_port }}
pidfile "/var/run/redis/sentinel-{{ sentinel_port }}.pid"
logfile "/var/log/redis/sentinel-{{ sentinel_port }}.log"
# Security
protected-mode no

sentinel deny-scripts-reconfig yes
sentinel monitor master_{{ redis_port }}
sentinel down-after-milliseconds master_{{ redis_port }} {{ down_after_milliseconds }}
