[Unit]
Description=Redis advanced key-value database
After=network.target

[Service]
User=redis
Group=redis
LimitNOFILE=65000
LimitMEMLOCK=infinity
Type=forking
ExecStart=/usr/bin/redis-server /etc/redis/redis-{{ redis_port }}.conf
ExecStop=/usr/bin/redis-cli -p {{ redis_port }} shutdown
#PIDFile=/var/run/redis/redis-{{ redis_port }}.pid
TimeoutStopSec=0
Restart=always
UMask=007
PrivateTmp=yes
PrivateDevices=yes
ProtectHome=yes
ReadOnlyDirectories=/
ReadWriteDirectories=-/data/redis
ReadWriteDirectories=-/var/log/redis
ReadWriteDirectories=-/var/run/redis
CapabilityBoundingSet=~CAP_SYS_PTRACE
ProtectSystem=true
ReadWriteDirectories=-/etc/redis

[Install]
WantedBy=multi-user.target
